html, body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

p {
  line-height: 2em;
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  font-family: 'Open Sans', sans-serif;
  color: #17385B;
}

aside {
  flex: 0 0 40%;
  max-width: 500px;
  padding: 60px;
  text-align: center;
  background-color: #F9C446;
  color: white;
  text-shadow: 0 0 1px #CCCCCC;
}

aside img {
  display: block;
  margin: calc(0.05 * 100vw) auto;
  border-radius: 75px;
  box-shadow: 0 -1px 0 1px white;
}

aside .title {
  font-size: 40px;
  font-weight: 400;
  margin: 0 0 0.5em;
  font-family: 'Gorditas', cursive;
}

aside .subtitle {
  font-size: 24px;
  font-weight: 500;
  margin: 0 auto 0.5em;
  max-width: 350px;
  text-align: center;
  color: white;
  line-height: 1.5em;
}

aside .actions a {
  display: inline-block;
  margin: 0 0.3em;
  font-size: 36px;
  color: white;
}

main {
  flex-grow: 1;
  padding: 60px;
  padding-bottom: 0;
  overflow-y: auto;
}

section {
  margin-bottom: 60px;
}

section > .title {
  font-size: 30px;
  margin-top: 0;
  color:#F9C446;
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
}

.projects > .title {
  margin-bottom: 0.5em;
}

.projects article {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 200px;
  margin-bottom: 40px;
}

.projects article .image {
  display: block;
  flex: 0 0 300px;
  height: 200px;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.projects article .content {
  flex-grow: 1;
  position: relative;
  font-size: 14px;
}

.projects article .title {
  margin: 0 0 0.5em;
  font-size: 20px;
}

.projects article .summary {
  max-height: 112px;
  overflow: auto;
}

.projects article .link {
  display: block;
  position: absolute;
  bottom: 0.5em;
  color: rgb(124, 214, 211);
  text-decoration: none;
}

article[data-label="project-1"] .image {
  background-image: url(assets/Group2_Pic.png);
}

article[data-label="project-2"] .image {
  background-image: url(assets/Group3_Pic.jpg);
}

article[data-label="project-3"] .image {
  background-image: url(assets/Group1_Pic.jpg);
}

@media (max-width: 1200px) {
  .projects article .image {
    flex-basis: 250px;
  }

  .projects article .summary {
    max-height: 105px;
    line-height: 1.5em;
  }
}

@media (max-width: 1080px) {
  aside {
    padding: 40px;
  }

  aside .title {
    font-size: 32px;
  }

  aside .subtitle {
    font-size: 20px;
  }

  main {
    padding: 40px;
    padding-bottom: 0;
  }

  .projects article {
    flex-direction: column;
    height: auto;
  }

  .projects article .image {
    margin-right: 0;
    width: 100%;
    flex-basis: 200px;
  }

  .projects article .title {
    margin: 1em 0;
  }

  .projects article .summary {
    max-height: none;
    margin-bottom: 1em;
    line-height: 2em;
  }

  .projects article .link {
    position: static;
  }
}

@media (max-width: 720px) {
  body {
    flex-direction: column;
    height: auto;
  }

  aside {
    width: 100%;
    max-width: 800px;
    padding: 80px;
  }

  aside img {
    margin-top: 0;
    margin-bottom: 20px;
  }

  main {
    padding: 80px;
    padding-bottom: 0;
  }

  section > .title {
    text-align: center;
  }
}

@media (max-width: 600px) {
  aside {
    padding: 30px;
  }

  main {
    padding: 30px;
    padding-bottom: 0;
  }
}
